<div>
  <%= link_to "clients", clients_path %>
</div>

<div>
  <%= @client.name %>
  <%= @client.email %>
  <%= @client.age %>
  <%= @client.phone_number %>
  <%= @client.description %>
</div>

<div>
  <%= link_to "edit client", edit_client_path %>
</div>

<% unless @client.appointments.nil? %>
  <% @client.appointments.each do |appointment| %>
    <div>
      <%= appointment.to_s %>
      <%= link_to "edit", modify_appointment_client_appointment_path(appointment)%>
      <%# TODO - FUNCTIONALITY %>
      <%# implement remove appointment functionality %>
      <%= link_to "remove", remove_appointment_client_appointment_path(client_id: @client.id, appointment_id: appointment.id)%>
    </div>
  <% end %>
<% end %>

<%# LEARN SOME JAVASCRIPT PLEASE %>
